fastapi
uvicorn[standard]
pymongo
pydantic
pandas
numpy
scikit-learn
python-multipart
python-jose[cryptography]
bcrypt
PyJWT

# AI / ML / NLP
langchain
openai
transformers
torch
datasets
tqdm
google-generativeai
websockets
asyncio-mqtt

# Utilities
python-dotenv
aiofiles
httpx

# Visualization / Reports
reportlab
matplotlib
seaborn
